#add-mission-container{
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 28px 20px 0 20px;
}

.bikeNo-div{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #eee;
	display: flex;
	align-items: center;
}

.bikeNo-div .bick-icon{
	width: 40px;
	height: 100%;
	background: url(../../../img/tide/bikeIcon.png) no-repeat center;
	background-size: 23px 15px;
}

.bikeNo-div input{
	width: calc(100% - 40px);
	border: 0;
	font-size: 15px;
	color: #35353f;
	padding: 0 5px;
}

.bikeNo-div input::-webkit-input-placeholder{
	color: #c2c2d0;
}

.bikeNo-div input:focus{
	outline: 0;
}

.radio-div{
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin-top: 24px;
}

.radio-div .radio-title{
	font-size: 16px;
	color: #35353f;
	width: 90px;
}

.radio-div .radio-list{
	width: calc(100% - 90px);
}

.radio-list.mission-type{
	display: flex;
}

.radio-list.mission-type .radio-item{
	width: 33%;
}


.radio-list.mission-status .radio-item{
	width: 50%;
	float: left;
	margin-bottom: 20px;
}


.radio-div .radio-item{
	display: flex;
	align-items: center;
}

.radio-div .radio-item .txt{
	font-size: 16px;
	color: #90909b !important;
	font-weight: normal;
	padding-left: 5px;
	margin: 0;
}

.textarea-div{
	width: 100%;
	margin-top: 20px;
}

.textarea-div > textarea{
	width: 100%;
	height: 150px;
	border: 1px solid #dedede;
	border-radius: 5px;
	outline: 0;
	resize: none;
	background: #f5f3f3;
	padding: 10px;
	font-size: 16px;
	color: #35353f;
}

.textarea-div > textarea::-webkit-input-placeholder{
	color: #c2c2d0;
}

.btn-div{
	margin-top: 24px;
	width: 100%;
	height: 45px;
	text-align: center;
}

.btn-div > button {
	border-radius: 45px;
	height: 100%;
	width: 290px;
	margin: 0 auto;
	background: #ff9600;
	color: #fff;
	font-size: 17px;
	border: 0;
	outline: 0;
}

.btn-div > button:active {
	opacity: 0.5;
}

.modal-container{
	width: 100%;
	position: fixed;
	top: 38%;
	left: 0;
	opacity: 0;
	display: none;
}

.modal-animation{
	transition: all 500ms;
}

.modal-container .mask_bg{
	width: 80%;
	padding: 15px 0;
	margin: 0 auto;
	font-size: 14px;
	color: #fff;
	background: rgba(0,0,0,0.6);
	text-align: center;
}
	

/* RADIO */
.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #ffffff;
	border: 1px solid #cacece;
	border-radius: 20px;
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 10px;
	height: 10px;
	border-radius: 10px;
	position: absolute;
	background: #75d249;
	top: 4px;
	left: 4px;
}

